.navbar .nav.navbar-nav.pull-right.userLi {
    min-width: 150px;
}
#navbar-left li .dropdown-menu li a i.fa {
    color: #000;
}
.dropdown.user a.dropdown-toggle {
    padding: 14px 13px 15px 13px;
}
.cb {
    clear: both;
}
.actionColumn {
}
/* start widths */
.width-100p{width: 99.5%; }
.width-98p{width: 98%; }
.width-97p{width: 97%; }
.width-93p{width: 93%; }
.width-91p{width: 91%; }
.width-15{width:15px !important;}
.width-20{width:20px !important;}
.width-30{width:30px !important;}
.width-50{width:50px !important;}
.width-60{width:60px !important;}
.width-70{width:70px !important;}
.width-80{width:80px !important;}
.width-90{width:90px !important;}
.width-100{width:100px !important;}
.width-120{width:120px !important;}
.width-130{width:130px !important;}
.width-140{width:140px !important;}
.width-150{width:150px !important;}
.width-160{width:160px !important;}
.width-170{width:170px !important;}
.width-180{width:180px !important;}
.width-200{width:200px !important;}
.width-230{width:230px !important;}
.width-250{width:250px !important;}
.width-300{width:300px !important;}
.width-350{width:350px !important;}
.width-400{width:400px !important;}
.width-auto{width:auto !important;}
.width-5p{width:5% !important;}
.width-8p{width:8% !important;}
.width-10p{width:10% !important;}
.width-20p{width:20% !important;}
.width-25p{width:25% !important;}
.width-30p{width:30% !important;}
.width-35p{width:35% !important;}
.width-40p{width:40% !important;}
.width-45p{width:45% !important;}
.width-50p{width:48% !important;}
.width100{width:100% !important;}
/* end widths */
.grid-view input[type=checkbox] {
    cursor: pointer;
}
.grid-view {
    overflow: auto;
    width: 100%;
    max-height: 500px;
}
.hide {
    display: none;
}
.show {
    display: block;
}
.checkboxSingleTr, .table-striped > tbody > tr.checkboxSingleTr:nth-child(odd) > td {
    background-color: #D9EDF7 !important;
}
.modal-loading{
    background:#FFF url(../../img/loaders/4.gif) no-repeat center center;
    width:40px;
    height:40px;
    left:48%;
    top:45%;
    position:fixed;
    border: 1px solid #343434;
    border-radius: 5px;
    box-shadow: 0 0 6px #0B0B0B;
    z-index: 100000000;
    display: none;
}
.modal-loading-bg {
    background-color: #D1D1D1;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000000;
}
/* dropdown-submenu start */
.dropdown-submenu {
    position: relative;
}
.dropdown-submenu > .dropdown-menu {
    border-radius: 0 6px 6px;
    left: 100%;
    margin-left: -1px;
    margin-top: -6px;
    top: 0;
}
.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}
.dropdown-submenu > a:after {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #AAA;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    content: " ";
    display: block;
    float: right;
    height: 0;
    margin-right: -5px;
    margin-top: 17px;
    width: 0;
}
.dropdown-submenu:hover > a:after {
    border-left-color: #000;
}
.dropdown-submenu.pull-left {
    float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
    border-radius: 6px 0 6px 6px;
    left: -100%;
    margin-left: 10px;
}
.dropdown-submenu > a {
    cursor: default;
}
/* dropdown-submenu end */
.errorsM {
    color: #f00;
}
.requestUrl {
    display: none;
}